{% extends "base.html"%}

{%block title%} {{block.super}} | Index Corsi Formazione{%endblock title%}

{%block content%}
    <h1>Benvenuto nel sistema di gestione dei corsi di formazione</h1>
    <ul>
        <li><a href="{% url 'corsi_formazione:view_a_corsi'%}">Corsi ordinati per data di inizio</a></li>
        <li><a href="{% url 'corsi_formazione:view_b_corsi'%}">Lista dettagli</a></li>
        <li><a href="{% url 'corsi_formazione:corsoDetailView' 1%}">Dettaglio corso</a></li>
        <li><a href="{% url 'corsi_formazione:view_c_corsi'%}">Corsi che iniziano dopo il 01/05/2025</a></li>
        <li><a href="{% url 'corsi_formazione:view_d_corsi'%}">Corsi con meno di 20 partecipanti</a></li>
        <li><a href="{% url 'corsi_formazione:view_e_corsi'%}">Corsi che terminano entro il 30/04/2025</a></li>
        <li><a href="{% url 'corsi_formazione:view_f_corsi'%}">Statistiche avanzate</a></li>
        <li><a href="/">index_root</a></li> 
    </ul>
{%endblock content%}