{% extends "base.html"%}

{%block title%} {{block.super}} | Index root {%endblock title%}

{%block content%}
    <h1>Index root</h1>
    <ol>
        <li><a href="/admin">Pannello admin</a></li>
        <li><a href="{% url 'prima_app:index'%}">Index di prima_app</a></li>
        <li><a href="{% url 'seconda_app:index_2app'%}">Index di seconda_app</a></li>
        <li><a href="{% url 'news:index_news'%}">Index delle news</a></li>
        <li><a href="{% url 'voti:index_voti'%}">Index di voti</a></li>
        <li><a href="{% url 'eventi_scolastici:index_eventi'%}">Index di eventi</a></li>
        <li><a href="{% url 'corsi_formazione:index_corsi'%}">Index Corsi di Formazione</a></li>
    </ol>
{%endblock content%}
