
{% extends 'base.html' %}
{% block title %}
    {{articolo.giornalista}}
{% endblock title %}
{% block content %}
    <h2>DEttagli del giornalista:</h2>
    <h2>{{giornalista.nome}} {{giornalista.cognome}}</h2>
    <h3>Nato il {{giornalista.anno_di_nascita}}</h3>
    <h5>Tutti i suoi articoli e visualizzazioni</h5>
    <ul> 
        {% for articolo in articoli %}
            <li><b>Titolo: </b>{{articolo.titolo}} -n {{articolo.visualizzazioni}}</li>
        {% endfor %}
    </ul>
{% endblock content %}