{% extends "base.html"%}

{%block title%} {{block.super}} | Index news{%endblock title%}

{%block content%}
    <h1>Index news</h1>
    <ol>
        <li><a href="{% url 'news:homepage'%}">Home page benvenuto</a></li>
        <li><a href="{% url 'news:articolo_detail' 1%}">Dettaglio articolo</a></li>
        <li><a href="{% url 'news:giornalista_detail' 1%}">Dettaglio giornalista</a></li>
        <li><a href="{% url 'news:lista_articoli_giornalista' 1%}">Lista articoli</a></li>
        <li><a href="{% url 'news:query_base'%}">Query</a></li>
        <a  href="{% url 'news:giornalita_detail'%}">Dettaglio giornalista</a>
        <li><a href="/">index_root</a></li>
    </ol>
{%endblock content%}