{% extends 'base.html' %}
{% block title %}
    Query base
{% endblock title %}
{% block content %}
    <h4>1. Articoli scritti da un certo autore</h4>
    <p>{{articoli_cognome}}</p>
    <br>
    <h4>2. Totale</h4>
    <p>{{numero_totale_articoli}}</p>
    <br>
    <h4>3. Totlale articoli scritti da un certo autore</h4>
    <p>{{numero_articoli_giornalista_1}}</p>
    <br>
    <h4>4. Articoli ordinati per numero di visualizzazioni</h4>
    <p>{{articoli_ordinati}}</p>
    <br>
    <h4>5. Articoli senza visualizzazioni</h4>
    <p>{{articoli_senza_visualizzazioni}}</p>
    <br>
    <h4>6. Articolo più visualizzato</h4>
    <p>{{articolo_piu_visualizzato}}</p>
    <br>
    <h4>7. Giornalisti nati dopo una certa data</h4>
    <p>{{giornalisti_data}}</p>
    <br>
    <h4>8. Articoli pubblicati in una data specifica</h4>
    <p>{{articoli_del_giorno}}</p>
    <br>
    <h4>9. Articoli pubblicati in un certo periodo</h4>
    <p>{{articoli_periodo}}</p>
    <br>
    <h4>10. Articoli scritti da giornalisti nati prima del 1980</h4>
    <p>{{articoli_giornalisti}}</p>
    <br>
    <h4>11. Giornalista più giovane</h4>
    <p>{{giornalista_giovane}}</p>
    <br>
    <h4>12. Giornalista più anziano</h4>
    <p>{{giornalista_anziano}}</p>
    <br>
    <h4>13. Utimi 5 articoli pubblicati</h4>
    <p>{{ultimi}}</p>
    <br>
    <h4>14. Articoli con un numero minimo di visualizzazioni</h4>
    <p>{{articoli_minime_visualizzazioni}}</p>
    <br>
    <h4>15. Articoli che contengono una certa parola nel titolo</h4>
    <p>{{articoli_parola}}</p>
    <br>
    <h4>16. Articoli pubblicati in un certo mese di un anno specifico</h4>
    <p>{{articoli_mese_anno}}</p>
    <br>
    <h4>17. Giornalista con almeno un articolo con 100 visualizzazioni</h4>
    <p>{{giornalisti_con_articoli_popolari}}</p>
    <br>
    <h4>18. Scrivi articoli selezionati</h4>
    <p>{{articoli_con_and}}</p>
    <br>
    <h4>19. Scrivi articoli selezionati</h4>
    <p>{{articoli_con_or}}</p>
    <br>
    <h4>20. Scrivi articoli selezionati</h4>
    <p>{{articoli_con_not}}</p>
    <br>
{% endblock content %}